<form action="/" method="POST">
  <input type="text" name="name" placeholder="Please enter your name">
  <input type="hidden" name="_csrf_token" value=<%= @csrf_token %>></input>
  <input type="submit" value="Send">
</form>
